body {
  font-family: 'Roboto', sans-serif;
  color: #333;

  background-image: url(../../assets/images/voyage.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;

}
/*
Roboto
img {
  max-width: 100%;
  height: 100%;
}
*/
