.splash > img {
  width: 100%;
  heght: auto;
  object-fit: cover;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


/*
.large {
  position: relative;
}

.large-hero__text-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
*/
